# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{sh,fish,md,toml,yml,yaml}]
indent_size = 2

[*.{sh,fish}]
simplify           = true
switch_case_indent = true
space_redirects    = true